* {
    /* soft reset do css*/
    margin: 0; /* margin da página inteira*/
    padding: 0; /* preenchimento*/
    box-sizing: border-box ;/* borda da caixa*/
  }

body {
    color: #545E6C;
    /* background: #fff; */
    background: whitesmoke;
    background-size: auto 100vh;
}

.home,
.experiencies {
    min-height: 100vh;    
}

/* header {
   height: 100vh; /*100% da altura do site 'view height'
   display: contents;
   // display: flex;
   // justify-content: center;
   // align-items: center;
 } 
*/

.navbar {
    /* position: fixed; */
    top: 0;
    background-color: darkseagreen;
}

.titulo {
    margin-top: 7em;
    margin-bottom: 3em;
    /* font-family: 'Dancing Script', cursive; */
}

.about .avatar {
    float: left;
    margin-right: 1.5em;
}
  
  .about .avatar img{
    border-radius: 60%;
  }

.about p{
     text-indent: 1.5em;
     margin-bottom: 0.5em;
}

.time{
    float: right;
}

.details{
    text-indent: 1.5em;
    margin-left: 1.5em;
}

.btn-link {
    color: rgb(48, 46, 46);
}

.img-matero {    
    width: 40%;
    object-fit: cover; /*essa propriedade faz a imagem caber no tamanho*/
    object-position: left bottom;
}

.contato a {
    color: rgb(48, 46, 46);
    font-size: 4em;
    transition: text-shadow, 0.4s;
  }
  
.contato a:active, /*active é o momento que o usuário clica no elemento, hover é o quando passa por cima mouse*/
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgb(109, 103, 103);
}